h2 🍆 Uppdatera din Todo! 🍆
form action="/Todos/#{@special_todo["id"]}/update" method="post" 
    input type="text" name="name" value="#{@special_todo['name']}"
    input type="text" name="description" value="#{@special_todo['description']}"
    input type="submit" value="Update"
