body {
  font-family: sans-serif;
  color: #111111;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

header {
  color: #111111;
  background-color: lightcyan;
  font-family: fantasy;
  
}

.privat {
  background-color: lightsalmon;
}

.class {
  color: lightcoral;
  font-family: 'Courier New', Courier, monospace;
}

.new {
  background-color: lightblue;
}

.title {
  font-family: serif;
  color: blanchedalmond;
}

header a {
  color: #111111;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border: solid lightcyan;
  background-color: lightcyan;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

