body {
  font-family: sans-serif;
  color: #111111;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

header {
  color: #111111;
  background-color: lightcyan;
  font-family: fantasy;
  
}

.privat {
  background-color: lightsalmon;
}

.class {
  color: lightcoral;
  font-family: 'Courier New', Courier, monospace;
}

.new {
  background-color: lightblue;
}

.title {
  font-family: serif;
  color: blanchedalmond;
}

a {
  color: #111111;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border: solid lightcyan;
  background-color: lightcyan;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: bold;
}