form action="/todo" method="post"
 input type="text" name="new_todo" placeholder="Namnge ny todo"
 input type="text" name="description" placeholder="Ange beskrivning"
 input type="submit" value="Lägg till"